@charset "ISO-8859-1";

h2 {
    font-family: sans-serif;
    font-size: 1.0em;
    text-transform: uppercase;
}

label {
    font-family: sans-serif;
    font-size: 1.0em;
}

strong {
    font-weight: 700;
    background-color: yellow;
}

p {
    font-family: sans-serif;
}

input[type=text], select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#empleados {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

#empleados td, #empleados th {
  border: 1px solid #ddd;
  padding: 8px;
}

#empleados tr:nth-child(even){background-color: #f2f2f2;}

#empleados tr:hover {background-color: #ddd;}

#empleados th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#conceptos {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

#conceptos td, #conceptos th {
  border: 1px solid #ddd;
  text-align: center;
  padding: 8px;
}

#conceptos tr:nth-child(even){background-color: #f2f2f2;}

#conceptos tr:hover {background-color: #ddd;}

#conceptos th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color:  #f2f2f2;
  padding: 1px;
}

.grid-item {
  background-color:  #f2f2f2;
  padding: 1px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}