<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
<meta charset="ISO-8859-1">
<title>SIREH</title>
 <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
	<div align="center">
		<h2>Error recuperar informacion del empleado<span th:text="${empleado}"> </span></h2>
	</div>
</body>
</html>