<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
<meta charset="ISO-8859-1">
<title>SIREH</title>
 <link th:href="@{/styles/main.css}" rel="stylesheet" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div align="center">
		<h2>Calculo de nomina (SIREH-DROOLS)</h2>
		<form action="#" th:action="@{/listaempleados}" th:object="${plaza}" method="post">
			<fieldset>
				<h2>Busqueda de empleados</h2>
				<label>Por RFC: </label>
				<input type="text" th:field="*{rfcEmpleado}" />
				<label>Por puesto: </label>
				<input type="text" th:field="*{idPuestoNomb}" />
				<label>Por unidad: </label>
				<input type="text" th:field="*{idUnidadNomb}" /><br>
				<input type="submit" value="Enviar solicitud">
			</fieldset>
		</form>
	</div>
	
	<div align="center" th:if="${not #lists.isEmpty(allEmpleados)}">
	    <h2>Lista de empleados</h2>
		<table id="empleados" >
    		<thead>
        		<tr>
            		<th>RFC</th>
     				<th>Plaza</th>
     				<th>Unidad</th>
     				<th>Grupo</th>
     				<th>Puesto</th>
     				<th>Calcula</th>
        		</tr>
    		</thead>
    	<tbody>
       		<tr th:each="emp : ${allEmpleados}">
            	<td><span th:text="${emp.rfcEmpleado}"> AAAA000000111 </span></td>
            	<td><span th:text="${emp.idPlaza}"> 0 </span></td>
            	<td><span th:text="${emp.idUnidadNomb}"> 000 </span></td>
            	<td><span th:text="${emp.idGrupoPago}"> N </span></td>
            	<td><span th:text="${emp.idPuestoNomb}"> CF00000 </span></td>
      			<td><span><a th:href="@{'/resultado'(empleado=${emp.rfcEmpleado})}"><i class="fa fa-cogs" style="font-size:24px"></i></a></span></td>
        	</tr>
    	</tbody>
		</table>
	</div>
</body>
</html>