<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css">
<link th:href="@{/styles/main.css}" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta charset="ISO-8859-1">
<title>Plazas</title>
</head>
<body>

<div align="center">

<table id = "empleados" class="table table-bordered">
    <thead>
        <tr>
            <th>RFC</th>
     		<th>Plaza</th>
     		<th>Unidad</th>
     		<th>Grupo</th>
     		<th>Puesto</th>
     		<th>Calcula</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="emp : ${plazas}">
            <td><span th:text="${emp.rfcEmpleado}"> AAAA000000111 </span></td>
            <td><span th:text="${emp.idPlaza}"> 0 </span></td>
            <td><span th:text="${emp.idUnidadNomb}"> 000 </span></td>
            <td><span th:text="${emp.idGrupoPago}"> N </span></td>
            <td><span th:text="${emp.idPuestoNomb}"> CF00000 </span></td>
      		<td><span><a th:href="@{'/resultado'(empleado=${emp.rfcEmpleado})}"><i class="fa fa-cogs" style="font-size:24px"></i></a></span></td>
        </tr>
    </tbody>
</table>

<!-- customers pagination -->
<nav aria-label="Pagination" th:if="${plazas.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-medium">
        <li class="page-item" th:classappend="${plazas.number eq 0} ? 'disabled'">
            <a class="page-link svg-icon"
               th:href="@{/admin/plazas?page={id}(id=${plazas.number lt 2 ? 1 : plazas.number})}"
               aria-label="Previous"
               title="Previous Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-left">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq plazas.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( plazas.number + 1, plazas.totalPages > 10 + plazas.number ? plazas.number + 10 : plazas.totalPages, 1)}">
            <a class="page-link" th:href="@{/admin/plazas?page={id}(id=${i})}" th:text="${i}"
               th:title="${'Page '+ i}"
               rel="tooltip"></a>
        </li>
        <li class="page-item disabled" th:if="${plazas.number + 10 < plazas.totalPages}">
            <a class="page-link svg-icon" href="#">
                <span data-feather="more-horizontal">...</span>
            </a>
        </li>
        <li class="page-item" th:classappend="${plazas.number + 1 eq plazas.totalPages} ? 'disabled'">
            <a class="page-link svg-icon" th:href="@{/admin/plazas?page={id}(id=${plazas.number + 2})}"
               aria-label="Next"
               title="Next Page" rel="tooltip">
                <span aria-hidden="true" data-feather="chevrons-right">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"></script>

</body>
</html>