<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
<meta charset="ISO-8859-1">
<title>SIREH</title>
<link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>
  <div align="center">
  	<h2>Resultado del calculo</h2>
  </div>
  <div class="grid-container">
  	<div class="grid-item"><b>RFC</b></div>
  	<div class="grid-item"><b>Nombre</b></div>
  	<div class="grid-item"><b>Plaza</b></div>  
  	<div class="grid-item"><b>Nivel</b></div>
  	<div class="grid-item"><span th:text="${pago.rfcEmpleado}"> </span></div>
  	<div class="grid-item"><span th:text="${pago.getNombreCompleto()}"></span></div>  
  	<div class="grid-item"><span th:text="${pago.idPlaza}"></span></div>
  	<div class="grid-item"><span th:text="${pago.idNivelPto}"></span></div>
  	<div class="grid-item">-</div>
  	<div class="grid-item">-</div>
  	<div class="grid-item">-</div>  
  	<div class="grid-item">-</div>
  	<div class="grid-item"><b>Grupo</b></div>
  	<div class="grid-item"><b>Nombramiento</b></div>  
  	<div class="grid-item"><b>Jerarquia</b></div>
  	<div class="grid-item"><b>Unidad</b></div>
  	<div class="grid-item"><span th:text="${pago.descGrupoPago}"></span></div>
  	<div class="grid-item"><span th:text="${pago.descNombramiento}"></span></div>  
  	<div class="grid-item"><span th:text="${pago.descJerarquia}"></span></div>
  	<div class="grid-item"><span th:text="${pago.idUnidadNomb}"></span></div>
  	<div class="grid-item">-</div>
  	<div class="grid-item">-</div>
  	<div class="grid-item">-</div>  
  	<div class="grid-item">-</div>
  	<div class="grid-item"><b>..</b></div>
  	<div class="grid-item"><b>Percepciones</b></div>  
  	<div class="grid-item"><b>Deducciones</b></div>
  	<div class="grid-item"><b>Liquido</b></div>
  	<div class="grid-item"><span>...</span></div>
  	<div class="grid-item"><span th:text="${#numbers.formatDecimal(pago.getPercepciones(), 0, 'COMMA', 2, 'POINT')}"></span></div>  
  	<div class="grid-item"><span th:text="${#numbers.formatDecimal(pago.getDeducciones(), 0, 'COMMA', 2, 'POINT')}"></span></div>
  	<div class="grid-item"><span th:text="${#numbers.formatDecimal(pago.getLiquido(), 0, 'COMMA', 2, 'POINT')}"></span></div>
  </div>
  

  <div align="center" th:if="${#lists.isEmpty(pago.getConceptosPagados())}">
  	<h2>No hay datos</h2>
  </div>

  <div align="center" th:if="${not #lists.isEmpty(pago.getConceptosPagados())}">
	    <h2>Conceptos de pago</h2>
		<table border="1" id="conceptos">
    	<tr>
     		<th>Tipo</th>
     		<th>Concepto</th>
     		<th>Descripcion</th>
     		<th>Monto</th>
    	</tr>
		<tbody>
       		<tr th:each="cpto : ${pago.getConceptosPagados()}">
            	<td><span th:text="${cpto.tipo}"> </span></td>
				<td><span th:text="${cpto.cpto}"> </span></td>
				<td><span th:text="${cpto.descripcion}"> </span></td>
				<td th:text="${#numbers.formatDecimal(cpto.monto, 0, 'COMMA', 2, 'POINT')}"></td>
      	   </tr>		
		</tbody>
	</table>
  </div>

</body>
</html>