<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">  
<head>
<meta charset="ISO-8859-1">
<title>SIREH</title>
 <link th:href="@{/styles/main.css}" rel="stylesheet" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	
	
	<div align="center" th:if="${not #lists.isEmpty(empleados)}">
	    <h2>Lista de empleados</h2>
		<table id="empleados" >
    		<thead>
        		<tr>
            		<th>RFC</th>
     				<th>Nombre</th>
     				<th>Primer Apellido</th>
     				<th>Segundo Apellido</th>
        		</tr>
    		</thead>
    	<tbody>
       		<tr th:each="emp : ${empleados}">
            	<td><span th:text="${emp.rfcEmpleado}"> AAAA000000111 </span></td>
            	<td><span th:text="${emp.nombreEmpleado}"> 0 </span></td>
            	<td><span th:text="${emp.primerApellido}"></span></td>
            	<td><span th:text="${emp.segundoApellido}"></span></td>
      			<td><span><a th:href="@{'/conceptos'(empleado=${emp.rfcEmpleado})}"><i class="fa fa-cogs" style="font-size:24px"></i></a></span></td>
        	</tr>
    	</tbody>
		</table>
	</div>
</body>
</html>